<%= render :partial => "layouts/guide" %> 



<div class="row">

        <section class="span6 alignleft"  style='margin-right:25px; border-right: 1px dashed rgb(230,230,230); padding-right:50px;'>
          <p>
            For now, we are still in the invitation-only mode, finishing up some details. However, you can still browse around  for awesome portfolios. 
          </p>
            
            <div class='row features' style='margin-bottom:30px;'>
              <div class="span3">
                <div class="box">
                  <h4>Amazon S3</h4>
                  <%= image_tag  BACKEND_IMAGE_URL[:features_1]  %> 
                  <p>Ensures Fast Image Delivery</p>
                </div>
              </div>

              <div class="span3">
                <div class="box">
                  <h4>Heroku</h4>
                   <%= image_tag  BACKEND_IMAGE_URL[:features_1]  %> 
                  <p>Scalable and Rapid Deployment</p>
                </div>
              </div>
            </div>
            <div class='row features'>
              <div class="span3">
                <div class="box">
                  <h4>Ruby on Rails</h4>
                   <%= image_tag BACKEND_IMAGE_URL[:features_1]  %> 
                  <p>Easily Customizable</p>
                </div>
              </div>

              <div class="span3">
                <div class="box">
                  <h4>Transloadit</h4>
                   <%= image_tag BACKEND_IMAGE_URL[:features_1]  %> 
                  <p>Rapid Image Resizing</p>
                </div>
              </div>
            </div> 
        </section>


 
        <!-- <div class="span5"  style='padding-left:50px; border-left:1px dashed rgb(230,230,230); margin-left:50px;'> -->
        <div class='span5'>
          <h2>Login</h2>
             <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
               <div class="form-inputs">
                 <%= f.input :email, :required => false, :autofocus => true   , :input_html => {:class => "input-xlarge span4"} %>
                 <%= f.input :password, :required => false   , :input_html => {:class => "input-xlarge span4"} %>
                 <%#= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
               </div>

               <div class="form-actions">
                 <%= f.button :submit, "Login" %>
               </div>
             <% end %>

             <div class="alert">
               <strong>Not an admin?</strong> Click <strong><%= link_to "here", root_url %></strong> to return to the homepage.
             </div>
        </div>

    </div>
    
    
    


<%#= render "devise/shared/links" %>
