<%= simple_form_for( new_object , :url => url,
      :method => :post , 
      :html => {:class => "form-horizontal prevent_double_submit ajax-form   no_content_form",
        :id => "new_object"}) do |f| %>

  <%= f.input :title  , :input_html => {:class => "input-xlarge span5"}, 
  :label => "Title" %>

  <%= f.input :description , :input_html => {:class => "input-xlarge span5", :rows => 5}, 
  :label => "Description" %>

  <div class="form-actions">
    <%= f.button :submit , :class => "btn btn-primary", :value=> "Create Project" %>
    <%= link_to 'Cancel', '#', :class=> "btn btn-danger form_closer"%>
  </div>
<% end %>