<article class='row dashboard_project_entry' id='entry-<%= project.id %>' > 
  <div class='span6' style='overflow:hidden; max-height:500px;'>
  
    <% if project.main_picture.nil? %>
      <%#= image_tag 'upload_images_prompt.jpg' %>
      <div class="alert alert-error">
        <strong>Ouch!</strong> You don't have any pictures uploaded yet. 
        
        <p>
          Why don't you try to 
              <%= link_to "upload some pictures?", 
                      new_project_picture_url(project), 
                      :style => "font-weight:bold; color:#e95850;" %>
        </p>
      </div>
    <% else %>
      <%= image_tag project.main_picture.dashboard_image_url %>
    <% end %>
    
  </div>
  <div class='span3'>
    
    <h1><%= project.title %></h1>
    <div class='project-description'>
      <% if project.description.nil? %>
        No description yet. 
      <% else %>
        <%=  project.description[0..150] + "..." %>
      <% end %>
      
    </div>
    

    <ul class="latest-post post-statistic"> 
      <li class="clearfix">
        <%= link_to new_project_picture_url(project) do %>
           <%= image_tag BACKEND_IMAGE_URL[:manage_pictures], :style => 'opacity:1 ;'%>
        <% end %>
       
       
        <div style='margin-left:65px;'>
          <%= link_to "Manage Pictures", new_project_picture_url(project)  %> 
          <span class="date"><%= project.content_pictures.count %> pictures</span>
          <span class="date"><%= project.current_main_pictures.count %> teaser</span>
        </div>
        
        
        
      </li>
     
      <li class="clearfix">
        
        <%= link_to edit_project_content_url(project) do %>
           <%= image_tag BACKEND_IMAGE_URL[:manage_content], :style => 'opacity:1 ;'%>
        <% end %>
        
        <div style='margin-left:65px;'>
          <%= link_to "Manage Content", edit_project_content_url(project) %>  
          <span class="date">
            Title: 
            <% if  not project.title.nil? and project.title.length != 0 %>
              <i class="icon-ok-sign" style='background-color: #DFF0D8'></i> 
            <% else %>
              <i class="icon-exclamation-sign"  style='background-color: #F2DEDE'></i> 
            <% end %>
          </span>
          <span class="date">
            Teaser: 
            <% if  not project.teaser.nil? and project.teaser.length != 0 %>
              <i class="icon-ok-sign"  style='background-color: #DFF0D8'></i> 
            <% else %>
              <i class="icon-exclamation-sign"  style='background-color: #F2DEDE'></i> 
            <% end %>
          </span>
          <span class="date">
            Story: 
            <% if  not project.description.nil? and project.description.length != 0 %>
              <i class="icon-ok-sign" style='background-color: #DFF0D8'></i> 
            <% else %>
              <i class="icon-exclamation-sign"  style='background-color: #F2DEDE'></i> 
            <% end %>
          </span>
        </div>
        
        
      </li>
      
      <li class="clearfix">
        
        <%= link_to manage_featured_project_url(project) do %>
           <%= image_tag BACKEND_IMAGE_URL[:manage_featured_pictures] , :style => 'opacity:1 ;'%>
        <% end %>
        
        <div style='margin-left:65px;'>
          <%= link_to "Featured Picture", manage_featured_project_url(project) %> 
          <span class="date"><%= project.featured_pictures.count %> pictures</span>
          <span class="date"><%= project.current_displayed_featured_pictures.count %> featured</span> 
        </div>
        
      </li>
    </ul>
    
    <br />
    <h4>Publication Status</h4>
    
    <div  id='toggler-<%=  project.id %>' class='project-publish-button toggler'> 
      <% if project.is_published == true %>
        <input type="checkbox" class='toggle-checkbox' checked='checked'>
      <% else %>
        <input type="checkbox" class='toggle-checkbox'>
      <% end %>
    </div>


  </div>
</article>
