<%= render :partial => "layouts/dashboard_guide", :locals => {
  :title => "Portfolio",
  :description => "Manage your portfolio to be seen by the public"
} %> 


<div class="row">
  <!-- render the page -->
  <!-- START OF THE DASHBOARD PAGE  -->
  <section class="span9 alignright testimonials" id="object_list"> 
    <div class='span9' id='project_form_wrapper' style="margin-left:0; margin-bottom:30px;" >
      <div id='new_object_opener' > 
        <a class="btn btn-success btn-large form_opener">
          <i class="icon-plus icon-white"></i>
          Create Project
        </a>
      </div>

      <br />

      <%= render :partial => "projects/new_object_form", :locals => {
        :new_object => Project.new,
        :url => projects_url 
      }%> 
    </div>







    <% if @projects.length != 0 %>
      <% @projects.each do |project| %>
        <%= render :partial => "projects/object_list_entry", :locals => {
          :project => project
        } %>
      <% end %> 
    
    <% else %>
      <%= render :partial => "projects/no_entry_notification"  %>
    <% end %>
    
    
    <!--  FAKE article, for starting up --> 
    <%#= render :partial => "projects/fake_articles" %>
    
  </section>
  
  <!-- END OF THE DASHBOARD PAGE  -->
  <!-- render the process list -->
  <%= render :partial => 'layouts/process_nav'%>
</div>


<!-- form to trigger the project publication  -->
<div class=" hidden" id="trigger_switch">
  <%= form_for Picture.new, :url => publish_url   do |f| %>
    <%= hidden_field_tag 'entity_switch_id' , ''  %> 
    <%= hidden_field_tag 'action_value', '' %>
  <% end %>
</div>

