<article class='row dashboard_project_entry' id="entry-<%= picture.id %>"> 
  <div class='span6'>
  
      <%= image_tag picture.dashboard_image_url %> 
  </div>
  <div class='span3'>
    
    
    <div class='project-description' style='margin-top:20px;'>
      <%= picture.name %>
    </div>
 
    
        
    
    <br />
    <h4>Teaser?</h4>
    <div  id='toggler-<%=  picture.id %>' class='pic-toggle-button toggler'>
      <% if picture.is_main_picture == true %>
        <input type="checkbox" class='toggle-checkbox' checked='checked'>
      <% else %>
        <input type="checkbox" class='toggle-checkbox'>
      <% end %>
      
    </div>
    
    
    <hr /> 
    <div> 
      <%= link_to destroy_picture_url(picture), :id=>"destroy_entry-#{picture.id}", :class => "btn btn-danger btn-large trigger_delete" do %>
        <i class="icon-remove icon-white"></i>
        Delete
      <% end %>
     
    </div>


  </div>
</article>
