<%= render :partial => "layouts/dashboard_guide", :locals => {
  :title => "Picture",
  :description => "Upload/Delete Picture"
} %> 


<div class="row">
  <!-- render the page -->
  <!-- START OF THE DASHBOARD PAGE  -->
  <section class="span9 alignright testimonials" id="object_list"> 
    <div class='span9' id='project_form_wrapper' style="margin-left:0; margin-bottom:30px;" >
      <div id='new_object_opener' > 
        <a class="btn btn-success btn-large form_opener">
          <i class="icon-plus icon-white"></i>
          Upload Picture
        </a>
      </div>

      <br />


      <div class='row'>
        <div class='span6'>
          <%= render :partial => "pictures/uploader/plupload_uploader" %>
        </div>
        <div class='span2 no_content_form'>
          <table cellpadding="0" cellspacing="0" border="0" 
                class="table table-striped table-bordered" id="stat" style="margin-top:10px;"> 
              <tbody>
                <tr>
                  <td style='font-weight:bold;'>Selected</td>
                  <td  id="selected_counter">0</td>
                </tr>
              
                <tr>
                  <td style='font-weight:bold;'>
                    Uploaded
                  </td>
                  <td>
                    <span id="uploaded_counter">0</span>
                  </td>
                </tr>
                
                <tr>
                  <td style='font-weight:bold;'>
                    Resized
                  </td>
                  <td>
                    <span id="processed_counter">0</span>
                  </td>
                </tr>
                
                <tr>
                  <td style='font-weight:bold;'>
                    Failed
                  </td>
                  <td>
                    <span id="failed_counter">0</span>
                    
                  </td>
                </tr> 
              </tbody>
          </table>
          <ul id='fail-list'>
            
          </ul>
        </div>
      </div>
      
      
      
      <% content_for :additional_css do %>
        <%= stylesheet_link_tag "jquery.plupload.queue"%>
      <% end %>
       
      <% content_for :additional_js do %>
        <%= javascript_include_tag "plupload.full", "jquery.plupload.queue", "plupload_transloadit" %>  
      <% end %>
       
    </div>


    <div>
      
      <% @pictures.each do |picture| %>
          <%= render :partial => 'pictures/entry', :locals => {
            :picture => picture 
          }%>
      <% end %>
      


    </div>

 
     
  </section>
  
  <!-- END OF THE DASHBOARD PAGE  -->
  <!-- render the process list -->
  <%= render :partial => 'layouts/process_nav'%>
</div>

<!-- form to delete picture -->
<div class=" hidden" id="trigger_delete">
  <%= form_for Picture.new, :url => destroy_picture_url   do |f| %>
    <%= hidden_field_tag 'entity_id' , ''  %> 
  <% end %>
</div>


<!-- form to trigger the teaser pic -->
<div class=" hidden" id="trigger_switch">
  <%= form_for Picture.new, :url => switch_teaser_url   do |f| %>
    <%= hidden_field_tag 'entity_switch_id' , ''  %> 
    <%= hidden_field_tag 'action_value', '' %>
  <% end %>
</div>
