<%= render :partial => "layouts/dashboard_guide", :locals => {
  :title => "Picture",
  :description => "Upload/Delete Picture"
} %> 


<div class="row">
  <!-- render the page -->
  <!-- START OF THE DASHBOARD PAGE  -->
  <section class="span9 alignright testimonials" id="object_list"> 
    <div class='span9' id='project_form_wrapper' style="margin-left:0; margin-bottom:30px;" >
      <div id='new_object_opener' > 
        <a class="btn btn-success btn-large form_opener">
          <i class="icon-plus icon-white"></i>
          Create Project
        </a>
      </div>

      <br />

      <%= render :partial => "projects/new_object_form", :locals => {
        :new_object => @new_picture,
        :url => projects_url 
      }%> 
    </div>







    <% if @pictures.length != 0 %>
      <% @pictures.each do |picture| %>
        <%= render :partial => "pictures/object_list_entry", :locals => {
          :object => picture
        } %>
      <% end %> 
    
    <% else %>
      <%= render :partial => "projects/no_entry_notification"  %>
    <% end %>
    
     
  </section>
  
  <!-- END OF THE DASHBOARD PAGE  -->
  <!-- render the process list -->
  <%= render :partial => 'layouts/process_nav'%>
</div>


